name: Regular build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: "Basic check and build"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Gradle Wrapper Validation
        uses: gradle/actions/wrapper-validation@v5

      - name: Overriding gradle.properties for CI
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run Detekt and build the Google Play Debug Apk
        run: ./gradlew detekt buildGoogleDebug
